{{>head}}
<section>
	<article class="firstSection">
		<h3>Valores del sistema</h3>
		<p>Numero de usuarios: 20</p>
		<p>Numero de ficheros: 2000</p>
		<p>Espacio total ocupado: 15GB</p>
		<p>Tasa media de archivos por usuario: 100</p>
		<p>Tasa media de espacio ocupado por usuario: 5.26GB</p>
		<p>Tasa media de espacio ocupado por archivo: 225MB</p>
	</article>
	<hr/>
	<article>
		<p>Archivos por usuario<p>
		<p>Nombre</p>
		<p>Mail</p>
		<p>Numero de ficheros</p>
		<p>Espacio maximo</p>
		<p>Espacio ocupado</p>
		<p>Espacio medio por fichero</p>
	</article>
	<hr/>
	<article>
		<p>Crear usuario</p>
	</article>
	<hr/>
	<article>
		<p>Lista de usuarios</p>
		<p>Nombre</p>
		<p>Mail</p>
		<p>Lock</p>
		<p>Adm</p>
		<p>Hacer adm</p>
		<p>Hacer lock</p>
		<p>Set password</p>
	</article>
	<hr/>
	<form action="/home" method="post">
		<article>
			<h3>My files</h3>
			<input type="submit" name="detele" value="Borrar"/>
			<input type="submit" name="share" value="Compartir"/>
			<input type="submit" name="download" value="Descargar"/>
			<hr/>
		</article>
		<article>
			{{#filesUser}}
			<input type="checkbox" name="idFile" value={{id}}/>File name: {{name}}, Size of file: {{size}}<br/><hr class="lineOptions"/>
			{{/filesUser}}
		</article>
	</form>
	<form action="/home" method="post">
		<article class="firstSection">
			<h3>Upload file(s)</h3>
			<input type="submit" name="upload" value="Subir"/>
			<input type="file" name="filesUpload" multiple/>
			<hr/>
		</article>
	</form>
</section>
<aside>
	<p>Información sobre un elemento</p>
</aside>
{{>foot}}