{{>head}}
<section>
	<article class="firstSection">
		<h3>Valores del sistema</h3>
		<p>Numero de usuarios: {{systemUsers}}</p>
		<p>Numero de usuarios administradores: {{systemUsersAdm}}</p>
	</article>
	<hr/>
	<article>
		<h3>Lista de usuarios:</h3>
		{{#userList}}
			<div id="{{username}}">
				<p>Nombre: {{username}}</p>
				<p>Mail: {{mail}}</p>
				<p>Lock: {{bloqueado}}</p>
				<p>Administrador: {{admin}}</p>
				<p>Espacio maximo: </p>
				<p>Numero de ficheros: </p>
				<p>Espacio ocupado: </p>
				<p>Espacio medio por fichero: </p>
				<a href="#" onclick="chargeAdminUser('{{username}}','userEditForm')" style="color: black; font-size: 48px;">
					<i class="material-icons">more_horiz</i>
				</a>
			</div>
		{{/userList}}
	</article>
</section>
<aside>
	<p>Users settings:</p>
	<form id="userEditForm" action="/adm" method="post" onsubmit="return samePasswd('userEditForm')">
		<p>Nombre: </p>
		<p>Mail: </p>
		<p>Lock: </p>
		<p>Administrador: </p>
		<p>
			Lock
			<select name="lock">
				<option value="Y">Yes</option>
				<option value="N">No</option>
			</select>
		</p>
		<p>
			Administrator
			<select name="adm">
				<option value="Y">Yes</option>
				<option value="N">No</option>
			</select>
		</p>
		<input type="password" name="passwd" placeholder="New password"/>
		<input type="password" name="passwd2" placeholder="New password again"/>
		<input type="email" name="mail" placeholder="New mail: name@domain.com"/>
		<br/>
		<input type="submit" value="Apply" disabled=""/>
		<input type="hidden" name="userName" value=""/>
	</form>
</aside>
{{>foot}}