{{>head}}
<section>
<h1>{{userName}}</h1>
	<article id="uploadfile" class="firstSection" style="display: none;">
		<form action="/home/upfiles" method="post" enctype="multipart/form-data">
			<h3>Upload files (over this panel)</h3>
			<input type="submit" name="upload" value="Subir"/>
			<input type="file" name="filesUpload" multiple/>
			<input type="hidden" name="actualPanel" value="{{actualPanel}}"/>
			<hr/>
		</form>
	</article>
	<article class="firstSection">
		<h3>Panels
			<a href="#" onclick="desplegar('listPanels')">
				<i class="material-icons">expand_more</i>
			</a>
		</h3>
		{{#msg}}
			<p>{{msg}}</p>
		{{/msg}}
		<div id="listPanels" >
			<form action="/home" method="post" id=".." onsubmit="return formToFolder('..')">
					<input type="hidden" name="actualPanel" value=""/>
					<input type="hidden" name="goToPanel" value=".."/>
					<input type="submit" value=".."/>
			</form>
			{{#panels}}
				<form action="/home" method="post" id="{{name}}" onsubmit="return formToFolder('{{name}}')">
					<input type="hidden" name="actualPanel" value=""/>
					<input type="hidden" name="goToPanel" value="{{name}}"/>
					<input type="submit" value="{{name}}"/>
				</form>
			{{/panels}}
		</div>
	</article>

		<article class="firstSection">
			<h3>My files
				<a href="#" onclick="desplegar('listFiles')">
					<i class="material-icons">expand_more</i>
				</a>
			</h3>
			<hr/>
		</article>
		<article id="listFiles">
			{{#filesUser}}
				<div style="display:block ruby;">
					File name: {{filename}}
					<form action="/home/downfiles" method="post">
						<input type="hidden" name="idFile" value="{{id}}"/>
						<input type="hidden" name="actualPanel" value="{{actualPanel}}"/>
						<input type="submit" name="download" value="Descargar"/>
					</form>
					<form action="/home/deletefiles" method="post">
						<input type="hidden" name="idFile" value="{{id}}"/>
						<input type="hidden" name="actualPanel" value="{{actualPanel}}"/>
						<input type="submit" name="detele" value="Borrar"/>
					</form>
					<br/>
				</div>
				<hr class="lineOptions"/>
			{{/filesUser}}
		</article>

</section>
<aside>
	<p>Panel actual:</p>
	<p id="actualPanel">{{actualPanel}}</p>
	<form id="newPanel" action="/home/newpanel" method="post">
		<input type="hidden" name="nameNewPanel" value=""/>
		<input type="hidden" name="actualPanel" value="{{actualPanel}}"/>
	</form>
	<form action="/home/deletepanel" method="post">
		<input type="hidden" name="actualPanel" value="{{actualPanel}}"/>
		<input type="submit" value="delete panel"/>
	</form>
</aside>
{{>foot}}