{{>head}}
<section>
<h1>{{userName}}</h1>
	<article id="uploadfile" class="firstSection" style="display: none;">
		<form action="/home" method="post">
			<h3>Upload file(s)</h3>
			<input type="submit" name="upload" value="Subir"/>
			<input type="file" name="filesUpload" multiple/>
			<hr/>
		</form>
	</article>
	<form action="/home" method="post">
		<article class="firstSection">
			<h3>My files</h3>
			<input type="submit" name="detele" value="Borrar"/>
			<input type="submit" name="download" value="Descargar"/>
			<hr/>
		</article>
		<article>
			{{#filesUser}}
			<input type="checkbox" name="idFile" value={{id}}/>File name: {{name}}, Size of file: {{size}}<br/><hr class="lineOptions"/>
			{{/filesUser}}
		</article>
	</form>
	<article class="firstSection">
		<h3>Panels</h3>
		{{#filesUser}}
			<input type="checkbox" name="idFile" value={{id}}/>File name: {{name}}, Size of file: {{size}}<br/><hr class="lineOptions"/>
		{{/filesUser}}
	</article>
</section>
<aside>
	<p>Panel actual:</p>
	<p>/</p>
	<form id="newPanel" action="/home" method="post" style="display: none;">
		<input type="hidden" name="nameNewPanel" value=""/>
	</form>
	<form action="/home" method="post">
		<input type="hidden" name="sharePanel" value="id_panel"/>
		<input type="submit" value="compartir panel"/>
	</form>
	<p>Compartido: si</p>
	<p>Enlace: <a href="url">url</a></p>
	<p>Usuarios con quien lo compartes:</p>
	<ul>
		<li>user1</li>
		<li>user2</li>
		<li>user3</li>
	</ul>
</aside>
{{>foot}}