{{>head}}
<section>
<h1>{{userName}}</h1>
	<article id="uploadfile" class="firstSection" style="display: none;">
		<form action="/home" method="post">
			<h3>Upload files (over this panel)</h3>
			<input type="submit" name="upload" value="Subir"/>
			<input type="file" name="filesUpload" multiple/>
			<hr/>
		</form>
	</article>
	<article class="firstSection">
		<h3>Panels
			<a href="#" onclick="desplegar('listPanels')">
				<i class="material-icons">expand_more</i>
			</a>
		</h3>
		<div id="listPanels" >
			{{#panels}}
				<form action="/home" method="post">
					<input type="hidden" name="goToPanel" value="{{name}}"/>
					<input type="hidden" name="actualPanel" value="{{panel}}"/>
					<input type="submit" value="{{name}}"/>
				</form>
			{{/panels}}
		</div>
	</article>
	<form action="/home" method="post">
		<article class="firstSection">
			<h3>My files
			<a href="#" onclick="desplegar('listFiles')">
				<i class="material-icons">expand_more</i>
			</a>
		</h3>
			<input type="submit" name="detele" value="Borrar"/>
			<input type="submit" name="download" value="Descargar"/>
			<hr/>
		</article>
		<article id="listFiles">
			{{#filesUser}}
				<input type="checkbox" name="idFile" value={{id}}/>File name: {{filename}}<br/><hr class="lineOptions"/>
			{{/filesUser}}
		</article>
	</form>
</section>
<aside>
	<p>Panel actual:</p>
	<p>{{panel}}</p>
	<form id="newPanel" action="/home/newpanel" method="post">
		<input type="hidden" name="nameNewPanel" value=""/>
		<input type="hidden" name="actualPanel" value="{{panel}}"/>
	</form>
	<form action="/home" method="post">
		<input type="hidden" name="sharePanel" value="id_panel"/>
		<input type="submit" value="compartir panel"/>
	</form>
	<p>Compartido: si</p>
	<p>Enlace: <a href="url">url</a></p>
	<p>Usuarios con quien lo compartes:</p>
	<ul>
		<li>user1</li>
		<li>user2</li>
		<li>user3</li>
	</ul>
</aside>
{{>foot}}