 {{>head}}
<header>
<h1>NoMoreSpacePlease!</h1>      
</header>
<nav>
<a href="http://dominio.com/seccion2.html">IR SECCIÓN 2</a>
</nav>
<section>      
<article>
<h2>CONTENIDO PRINCIPAL</h2>
<p>Este es el contenido principal de mi web</p>
<div>
<p>Aquí tenéis una imagen.</p>
<img src="http://dominio.com/imagen.jpg" alt="paisaje">          
</div>
</article>      
</section>
<aside>
<h3>Banner de publicidad</h3>
<a href="http://dominio-externo.com">
<img src="http://dominio.com/banner-publicidad.png" alt="banner de publicidad">
</a>
<h3>Testimonios</h3>
<p>Me gusta mucho esta página.</p>
</aside>
{{>foot}}