{{>head}}
<header>
	<h1> {{titleApp}} </h1>
	<h3> {{titlePage}} </h3>      
</header>
<div id="indexCentrator"></div>
<div id="indexNotes">
		{{#expulse}}
			<p class="error">Error de sesion</p>
			<a href="login">Reintentar login</a>
		{{/expulse}}
		{{^expulse}}
			{{#access}}
				<p>Acceso concedido!</p>
				<a href="home">Go to my home</a>
			{{/access}}
			{{^access}}
				<p>Login in your account</p>
				<form action="login" method='post'>
					<input type="text" name="user" placeholder="Name of account"/>
						<br/>
						<br/>
					<input type="password" name="passwd" placeholder="Password"/>
						<br/>
						<br/>
					<input type="submit" name="login" value="login"/>
				</form>
			{{/access}}
		{{/expulse}}
</div>
{{>foot}}